* {
  margin: 0;
  padding: 0;
}
.hero-section {
  background-color: #fff8f3;
  width: 100vw;
  height: 90vh;
  display: flex;
}
.hero {
  width: 80%;
  background-color: blue;
}
.developer-word {
  width: 20%;
  background-color: blueviolet;
}
